<h6><%- client.callsign %> <% if (client.realname) { %>(<%- client.realname %>)<% } %></h6>
<table class="table table-sm table-bordered table-striped" style="font-size: 120%">
<% if (client.network) { %>
<tr>
<td>Network:</td>
<td class="text-nowrap font-weight-bold"><%- client.network %></td>
</tr>
<% } %>
<% if (client.server) { %>
<tr>
<td>Server:</td>
<td class="text-nowrap font-weight-bold"><%- client.server %></td>
</tr>
<% } %>
<% if (client.clienttype === "ATC" && client.atc_airport_city_ && client.atc_airport_icao_) { %>
<tr>
<td class="text-nowrap">Airport: </td>
<td class="text-nowrap font-weight-bold"><span class="badge badge-secondary"><%- client.atc_airport_icao_ %></span> <%- client.atc_airport_city_ %></td>
</tr>
<% } %>
<% if (client.planned_depairport) { %>
<tr>
<td class="text-nowrap">Departure: </td>
<td class="font-weight-bold"><span class="badge badge-secondary"><%- client.planned_depairport %></span> <% if (client.planned_depairport_city_) { %><%- client.planned_depairport_city_ %>, <%- client.planned_depairport_country_ %><br><span class="text-muted">(<%- client.planned_depairport_name_ %>)</span><% } %></td>
</tr>
<% } %>
<% if (client.planned_destairport) { %>
<tr>
<td class="text-nowrap">Arrival: </td>
<td class="font-weight-bold"><span class="badge badge-secondary"><%- client.planned_destairport %></span> <% if (client.planned_destairport_city_) { %><%- client.planned_destairport_city_ %>, <%- client.planned_destairport_country_ %><br><span class="text-muted">(<%- client.planned_destairport_name_ %>)</span><% } %></td>
</tr>
<% } %>
<% if(client.planned_altairport) {%>
<tr>
<td>Altairport: </td>
<td class="text-nowrap font-weight-bold"><%- client.planned_altairport %></td>
</tr>
<% } %>
<% if (client.clienttype === "PILOT") { %>
<tr>
<td>Aircraft: </td>
<td class="font-weight-bold"><% if(client.planned_aircraft) {%><%- client.planned_aircraft %>, <% } %>Squawk: <%- client.transponder %></td>
</tr>
<% } %>
<% if (client.clienttype === "PILOT" && client.planned_hrsenroute && client.planned_minenroute) { %>
<tr>
<td class="text-nowrap">Enroute: </td>
<td class="text-nowrap font-weight-bold"><%- client.planned_hrsenroute %>h <%- client.planned_minenroute %>m<% if(client.planned_hrsfuel && client.planned_hrsfuel !== "0" || client.planned_minfuel && client.planned_minfuel !== "0") {%> <span class="text-muted">(fuel: <%- client.planned_hrsfuel || "0" %>h <%- client.planned_minfuel || "0" %>m)</span><% } %></td>
</tr>
<% } %>
<% if(client.planned_altairport) { %>
<% } %>
<% if (client.clienttype === "PILOT") { %>
<tr>
<td>Altitude: </td>
<td class="text-nowrap font-weight-bold"><%- client.altitude %> ft<% if(client.planned_altitude && client.planned_altitude !== "0") {%> <span class="text-muted">(<%- client.planned_altitude %> planned)</span><% } %></td>
</tr>
<tr>
<td>Speed: </td>
<td class="text-nowrap font-weight-bold"><%- client.groundspeed %> kts<% if(client.planned_tascruise && client.planned_tascruise !== "0") {%> <span class="text-muted">(<%- client.planned_tascruise %> planned)</span><% } %></td>
</tr>
<tr>
<td>Heading: </td>
<td class="text-nowrap font-weight-bold"><%- client.heading %>&deg</td>
</tr>
<% if (client.QNH_iHg) { %>
<tr>
<td>QNH: </td>
<td class="text-nowrap font-weight-bold"><%- client.QNH_iHg %> iHg <span class="text-muted">(<%- client.QNH_Mb %> Mb)</span></td>
</tr>
<% } %>
<% if(client.planned_deptime && client.planned_deptime !== "0"){ %>
<tr>
<td>Deptime: </td>
<td class="text-nowrap font-weight-bold"><%- client.planned_deptime %> UTC <span class="text-muted">(planned)</span></td>
</tr>
<% } %>
<% if(client.planned_actdeptime && client.planned_actdeptime !== "0"){ %>
<tr>
<td>Deptime: </td>
<td class="text-nowrap font-weight-bold"><%- client.planned_actdeptime %> UTC <span class="text-muted">(actual)</span></td>
</tr>
<% } %>
<% if(client.planned_hrsenroute && client.planned_hrsenroute !== "0" || client.planned_minenroute && client.planned_minenroute !== "0") {%>
<% } %>
<% if(client.planned_remarks){ %>
<tr><td  colspan="2"><details><summary>Remarks</summary><div class="alert alert-light"><pre><%- client.planned_remarks %></pre></div></details></td></tr>
<% } %>
<% if(client.planned_route){ %>
<tr><td  colspan="2"><details><summary>Route</summary><div class="alert alert-light"><pre><%- client.planned_route %></pre></div></details></td></tr>
<% } %>
<% } %>
<% if (client.clienttype === "ATC") { %>
<tr>
<td class="text-nowrap">Frequency: </td>
<td class="text-nowrap font-weight-bold"><%- client.frequency %></td>
</tr>
<tr>
<td class="text-nowrap">Visual Range: </td>
<td class="text-nowrap font-weight-bold"><%- client.visualrange %></td>
</tr>
<% if(client.time_last_atis_received && client.time_last_atis_received !== "0"){ %>
<tr>
<td class="text-nowrap">ATIS received: </td>
<td class="text-nowrap font-weight-bold"><%- client.time_last_atis_received %> UTC</td>
</tr>
<% } %>
<% if(client.atis_message){ %>
<tr><td  colspan="2"><details open="open"><summary>ATIS message</summary><div class="alert alert-light"><pre><%- client.atis_message %>
</pre></div>
</details></td></tr>
<% } %>
<% } %>
</table>
<hr>
<p><a href="?c=<%- client.callsign %>" target="_blank"><button type="button" class="btn btn-sm btn-info">Share Link</button></a> <span style="margin-left:5px"><a href="https://github.com/Iunusov/Vatsim-Flight-Map">Contribute (GitHub)</a></span></p>
